{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Connexion
{% endblock %}


{% block body %}
	<div class="container col-4 mt-5 p-3 border rounded">
		{{ form_errors(form) }}

		{{ form_start(form) }}

		{{ form_row(form.email)}}
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }} ">

		<span class="row">
			<button type="submit" class="btn btn-primary mt-2 text-center">Reset</button>
		</span>

		{{ form_end(form)}}

	</div>
{% endblock %}
