{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Connexion
{% endblock %}


{% block body %}
	<div class="container col-4 mt-5 p-3 border rounded">
		{{ form_errors(form) }}

		{{ form_start(form) }}

		{{ form_row(form.password)}}

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }} ">

		{{ form_end(form)}}

	</div>
{% endblock %}
