{% extends 'base.html.twig' %}

{% block title %}User Profile
{% endblock %}

{% block body %}
	<div
		class="container row d-flex">

		<!-- User Card -->
		<div class="col-lg-4 col-md-10">
			<div class="card card-small mb-4 pt-3">
				<div class="card-header border-bottom text-center">
					<div class="mb-3 mx-auto">
						<img class="rounded" src="/uploads/{{ user.avatar }}" alt="Avatar" width="110">
					</div>
					<h4 class="mb-0">{{ user.username }}</h4>
					<span class="text-muted d-block mb-2">{{ user.email }}</span>
				</div>

			</div>
		</div>
		<!-- End User Card -->
		<div
			class="col-lg-6 col-md-10">
			<!-- Start Update Card -->
			<div class="card border-primary mb-3">
				<div class="card-header border-bottom">
					<h6 class="m-0">Modifier vos Informations personnels</h6>
				</div>
				<ul class="card-text">
					<li class="list-group-item p-3">

						<div class="col-10">
							{{ form_start(formProfile) }}
							<div class="form-row">
								<div class="form-group ">
									{{ form_row(formProfile.username) }}
								</div>
								<div class="form-group ">
									{{ form_row(formProfile.email) }}
								</div>
							</div>
						</div>
						<div class="row">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="form-group mt-4 text-center">
								<div class="text-center">

									{{ form_row(formProfile.modifyProfile) }}
								</div>
							</div>
						</div>
						{{ form_end(formProfile) }}
					</li>
				</ul>
			</div>

			<!-- End Update Card -->
			<!-- Start Update Card -->
			<div class="card border-danger mb-3">
				<div class="card-header border-bottom">
					<h6 class="m-0">Modifier votre Mot de passe</h6>
				</div>
				<ul class="card-text">
					<li class="list-group-item p-3">

						<div class="col-10">
							{{ form_start(formPassword) }}
							<div class="form-row">
								<div class="form-group ">
									{{ form_row(formPassword.password) }}
								</div>
								<div class="form-group ">
									{{ form_row(formPassword.confirmPassword) }}
								</div>
							</div>
						</div>
						<div class="row">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="text-center">

								{{ form_row(formPassword.modifyPassword) }}
							</div>
							{{ form_end(formPassword) }}
						</div>
					</li>
				</ul>
			</div>

			<!-- End Update Card -->
			<!-- Start Update Card -->
			<div class="card border-info mb-3">
				<div class="card-header border-bottom">
					<h6 class="m-0">Modifier votre Avatar</h6>
				</div>
				<div class="card-body ">
					<img class="rounded " src="/uploads/{{ user.avatar }}" alt="Avatar" width="110">

					<div class="card-text container ">
						{{ form_start(formAvatar) }}
						<div class="form-row">
							<div class="">
								{{ form_row(formAvatar.avatar) }}
							</div>
						</div>
					</div>
					<div class="row">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="text-center">

							{{ form_row(formAvatar.modifyAvatar) }}
						</div>
					</div>

					{{ form_end(formProfile) }}
				</div>
			</div>
		</div>
	</div>
	<!-- End Update Card -->
{% endblock %}
