{% extends 'base.html.twig' %}

{% block title %}
	{{trick.name}}
{% endblock %}

{% block body %}
	<div class="container col-10 position-relative">
		<img src="https://via.placeholder.com/500x300" alt="trick picture " class=" img-fluid w-100">
		<h1 class="position-absolute top-50 start-50 translate-middle">{{ trick.name }}</h1>
	</div>
	<div class="container col-10 border d-flex justify-content-around flex-wrap">
		<img src="https://via.placeholder.com/200x200" alt="trick picture" class="m-1">
		<img src="https://via.placeholder.com/200x200" alt="trick picture" class="m-1">
		<img src="https://via.placeholder.com/200x200" alt="trick picture" class="m-1">
		<img src="https://via.placeholder.com/200x200" alt="trick picture" class="m-1">


	</div>

	<div class="container col-10 ">
		<span class="badge rounded-pill text-bg-primary">{{ trick.category.name}}</span>
		<div class="container border border mt-3">
			{{ trick.description }}
		</div>
	</div>
	<div class="container col-8 border">
		<h5 class="text-center my-3 p-3 rounded bg-dark">Commentaires</h5>
		{% if app.user %}
			{{ form_start(formComment) }}
			{{ form_row(formComment.content, {
                'label' : 'Ajouter une commentaire',
                'attr'  : {'placeholder' : 'Entrer votre commentaire'},
        } 
        ) }}
			{{ form_end(formComment)}}
		{% else %}
			<div class="text-center my-3 p-3">
				<h6>Merci de vous connecter pour laisser un commentaire.</h6>
				<a href="{{ path('app_security_login') }}" class="btn btn-primary">Connexion</a>
			</div>
		{% endif %}

		{% for comment in comments %}
			<div class="card border-primary">
				<div class="card-header row d-flex">
					<div class="col-3 col">
						<img src="{{ comment.user.avatar }}" class="img-fluid">
						<p class="text-center">{{ comment.user.username }}</p>
					</div>

					<div class="col-8 m-1 card-header ">Le
						{{ comment.createdAt | date("d/m/Y à h:i")}}
					</div>
				</div>
				<div class="card-text">

					{{comment.content}}
				</div>
			</div>
		{% endfor %}
	</div>
	<div>
		<ul class="pagination pagination-sm">
			<li class="page-item disabled">
				<a class="page-link" href="#">&laquo;</a>
			</li>
			<li class="page-item active">
				<a class="page-link" href="#">1</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">2</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">3</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">4</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">5</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">&raquo;</a>
			</li>
		</ul>
	</div>
{% endblock %}
